*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
/*---nav----*/
ul.navi {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: black;
    justify-content: space-around;
    z-index: 999;
}
ul > li{
 padding: 1rem;
}
ul.navi li a:hover {
    background-color: #032d83;
}

ul.navi li a {
    display: block;

    color: white;

}

ul.navi li:hover ul.introduce {
    display: block;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
}

ul.introduce {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 180px;
    position: absolute;
    background-color: #0139a6;
    display: none;
}

ul.introduce li {
    border-top: 0.02rem solid white;
}

ul.introduce li a {
    padding: 0.3rem 0.5rem;
    font-size: smaller;
}

/* button đăng kí khám */
div.button {
    margin:15px
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s

}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-footer{
    margin-right:30px
}

/* css form đăng kí khám*/
label {
   display: block;
   margin-bottom: 8px;
}
input, select {
   width: 99%;
   padding: 8px;
   margin-bottom: 16px;
   box-sizing: border-box;
   margin-left:5px
}
button {
   padding: 10px;
   background-color: #4CAF50;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

button.cancel {
   background-color: #f44336;
}

.modal-body textarea{
    margin-left:5px
}