<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='/js/layout.js') }}"></script>
</head>
<body>

    <header >
        <nav>
        <ul class="flex navi">
              <li class="home">
                <a href="/html/index.html"><i class="fa-solid fa-house-chimney"></i></a>
              </li>
              <li class="hiddens">
                <a href="#">Giới thiệu</a>

              </li class="hiddens">
              <li class="hiddens"><a href="/html/room.html">Phòng - Ban</a>

              </li>
              <li class="hiddens"><a href="/html/Subject.html">Khoa - Bộ môn</a>

              </li>
              <li class="hiddens"><a href="/html/admissions.html">Tuyển sinh</a>

              </li>
              <li class="hiddens"><a href="/html/scholarship.html">Học bổng</a>

              </li>
              <div class="button">
                  <button id="myBtn" >Đăng Kí Khám</button>
              </div>
        </ul>
        </nav>

       <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>Modal Header</h2>
            </div>
            <div class="modal-body">
              <p>Some text in the Modal Body</p>
              <p>Some other text...</p>
            </div>
            <div class="modal-footer">
              <h3>Modal Footer</h3>
            </div>
          </div>
        </div>
    </header>

</body>
</html>